@page "/management"

<PageTitle>ToothPick - Management</PageTitle>

<ModalPrompt @ref=ModalPromptReference></ModalPrompt>

<br />

<h2>Libraries</h2>

<div class="d-flex flex-row bd-highlight mb-2">
    <button class="btn btn-primary" @onclick="ExportLibraries">
        Export All Libraries
    </button>
</div>

<div class="d-flex flex-row input-group mb-3 align-items-center">
    <InputFile id="importLibraries" class="form-control" style="max-width:500px;" OnChange="UpdateLibrariesFile" />
    <button class="btn btn-outline-success" type="button" for="importLibraries" disabled="@(LibrariesFile == null)" @onclick=@(() => ImportLibraries())>
        Import Libraries
    </button>
</div>

<h2>Series</h2>

<div class="d-flex flex-row bd-highlight mb-2">
    <button class="btn btn-primary" @onclick="ExportSeries">
        Export All Series
    </button>
</div>

<div class="d-flex flex-row input-group mb-3 align-items-center">
    <InputFile id="importSeries" class="form-control" style="max-width:500px;" OnChange="UpdateSeriesFile" />
    <button class="btn btn-outline-success" type="button" for="importSeries" disabled="@(SeriesFile == null)" @onclick=@(() => ImportSeries())>
        Import Series
    </button>
</div>

<h2>Locations</h2>

<div class="d-flex flex-row bd-highlight mb-2"> 
    <button class="btn btn-primary" @onclick="ExportLocations">
        Export All Locations
    </button>
</div>

<div class="d-flex flex-row input-group mb-3 align-items-center">
    <InputFile id="importLocations" class="form-control" style="max-width:500px;" OnChange="UpdateLocationsFile" />
    <button class="btn btn-outline-success" type="button" for="importLocations" disabled="@(LocationsFile == null)" @onclick=@(() => ImportLocations())>
        Import Locations
    </button>
</div>

<h2>Medias</h2>

<div class="d-flex flex-row bd-highlight mb-2">
    <button class="btn btn-primary" @onclick="ExportMedias">
        Export All Medias
    </button>
</div>

<div class="d-flex flex-row input-group mb-3 align-items-center">
    <InputFile id="importMedias" class="form-control" style="max-width:500px;" OnChange="UpdateMediasFile" />
    <button class="btn btn-outline-success" type="button" for="importMedias" disabled="@(MediasFile == null)" @onclick=@(() => ImportMedias())>
        Import Medias
    </button>
</div>

<h2>Cookies</h2>

<div class="d-flex flex-row input-group mb-3 align-items-center">
    <InputFile id="importCookies" class="form-control" style="max-width:500px;" OnChange="UpdateCookiesFile" />
    <button class="btn btn-outline-success" type="button" for="importCookies" disabled="@(CookiesFile == null)" @onclick=@(() => ImportCookies())>
        Upload Cookies
    </button>
</div>

<h2>Reset Media Filename Episode Number by Date</h2>

<div class="d-flex flex-row input-group mb-2 align-items-center">
    <label for="library" class="input-group-text">Library</label>
    <select class="form-select" id="library" style="width:300px;"
        @onchange=@(async (ChangeEventArgs changeEventArgs) => { SelectedLibrary = Libraries.FirstOrDefault(library => (string?)changeEventArgs.Value == library.Name); await InvokeAsync(StateHasChanged); })>
        <option selected="@(!Libraries.Any(library => SelectedLibrary?.Name == library.Name))" class="enter-next" value="" disabled>Select...</option>
        @foreach (Library library in Libraries)
        {
            <option selected="@(SelectedLibrary?.Name == library.Name)" class="enter-next" value="@library.Name">
                @library.Name
            </option>
        }
    </select>
</div>
<div class="d-flex flex-row input-group mb-2 align-items-center">
    <label for="series" class="input-group-text">Series</label>
    @{
        bool lockField = !Libraries.Any(library => SelectedLibrary?.Name == library.Name);
    }
    <select class="form-select @(lockField ? "readonly disabled" : string.Empty)" style="width:300px;" id="series" readonly=@lockField disabled=@lockField
        @onchange=@(async (ChangeEventArgs changeEventArgs) => { SelectedSeries = Series.Where(series => series.LibraryName == SelectedLibrary?.Name).FirstOrDefault(series => (string?)changeEventArgs.Value == series.Name); await InvokeAsync(StateHasChanged); })>
        <option selected="@(!Series.Any(series => SelectedSeries?.LibraryName == series.LibraryName && SelectedSeries?.Name == series.Name))" class="enter-next" value="" disabled>Select...</option>
        @foreach (Series series in Series.Where(series => series.LibraryName == SelectedLibrary?.Name))
        {
            <option selected="@(SelectedSeries?.Name == series.Name)" class="enter-next" value="@series.Name">
                @series.Name
            </option>
        }
    </select>
</div>    
<button class="mb-3 btn btn-outline-success" type="button" @onclick=@(() => ResetFilenames())>
    Reset
</button>

@code {

    [Inject]
    private IDbContextFactory<ToothPickContext> ToothPickContextFactory { get; set; } = null!;

    [Inject]
    private IJSRuntime JSRuntime { get; set; } = null!;

    private ModalPrompt ModalPromptReference = null!;

    private IBrowserFile? LibrariesFile { get; set; } = null;
    
    private IBrowserFile? SeriesFile { get; set; } = null;

    private IBrowserFile? LocationsFile { get; set; } = null;

    private IBrowserFile? MediasFile { get; set; } = null;

    private IBrowserFile? CookiesFile { get; set; } = null;

    private IEnumerable<Library> Libraries {get;set;} = null!;
    private IEnumerable<Series> Series {get;set;} = null!;

    private Library? SelectedLibrary = null;
    private Series? SelectedSeries = null;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        using ToothPickContext toothPickContext = await ToothPickContextFactory.CreateDbContextAsync();     

        Libraries = toothPickContext.Libraries.ToArray();
        Series = toothPickContext.Series.ToArray();
    }

    private async void ExportLibraries()
    {       
        using ToothPickContext toothPickContext = await ToothPickContextFactory.CreateDbContextAsync();  
        byte[] byteArray = Encoding.UTF8.GetBytes(JsonConvert.SerializeObject(toothPickContext.Libraries.ToArray(), Formatting.Indented));
        MemoryStream stream = new MemoryStream(byteArray);
        string fileName = "libraries.json";
        using DotNetStreamReference streamReference = new DotNetStreamReference(stream: stream);
        await JSRuntime.InvokeVoidAsync("downloadFileFromStream", fileName, streamReference);
    }

    private void UpdateLibrariesFile(InputFileChangeEventArgs inputFileChangeEventArgs)
    {
        LibrariesFile = inputFileChangeEventArgs.File;
    }

    private async void ImportLibraries()
    {
        if (LibrariesFile != null)
        {
            using ToothPickContext toothPickContext = await ToothPickContextFactory.CreateDbContextAsync();  
            using StreamReader streamReader = new StreamReader(LibrariesFile.OpenReadStream());
            string librariesString = await streamReader.ReadToEndAsync();
            IEnumerable<Library>? libraries = JsonConvert.DeserializeObject<IEnumerable<Library>>(librariesString);
            
            if (libraries != null)
            {
                foreach (Library newLibrary in libraries)
                {
                    if (!toothPickContext.Libraries.Any(library => library.Name.Equals(newLibrary.Name)) &&
                        !toothPickContext.ChangeTracker.Entries<Library>().Any(library => library.Entity.Name.Equals(newLibrary.Name)))
                    {
                        toothPickContext.Libraries.Add(newLibrary);
                    }
                }
            }

            if (toothPickContext.ChangeTracker.HasChanges())
            {
                await ModalPromptReference!.ShowModalPrompt(new()
                {
                    Title = "Imported succesfully",
                    Body = new MarkupString($"<p>Imported libraries file \"{LibrariesFile.Name}\" succesfully! Added {toothPickContext.ChangeTracker.Entries<Library>().Count(e => e.State == EntityState.Added)} new libraries!</p>"),
                    CancelChoice = "Ok"
                });

                await toothPickContext.SaveChangesAsync();
            }
            else
            {                
                await ModalPromptReference!.ShowModalPrompt(new()
                {
                    Title = "Nothing imported",
                    Body = new MarkupString($"<p>No new libraries were detected. Nothing was imported.</p>"),
                    CancelChoice = "Ok"
                });
            }
        }
    }
    
    private async void ExportSeries()
    {
        using ToothPickContext toothPickContext = await ToothPickContextFactory.CreateDbContextAsync();    
        byte[] byteArray = Encoding.UTF8.GetBytes(JsonConvert.SerializeObject(toothPickContext.Series.ToArray(), Formatting.Indented));
        MemoryStream stream = new MemoryStream(byteArray);
        string fileName = "series.json";
        using DotNetStreamReference streamReference = new DotNetStreamReference(stream: stream);
        await JSRuntime.InvokeVoidAsync("downloadFileFromStream", fileName, streamReference);
    }

    private void UpdateSeriesFile(InputFileChangeEventArgs inputFileChangeEventArgs)
    {
        SeriesFile = inputFileChangeEventArgs.File;
    }

    private async void ImportSeries()
    {
        if (SeriesFile != null)
        {
            using ToothPickContext toothPickContext = await ToothPickContextFactory.CreateDbContextAsync();    
            using StreamReader streamReader = new StreamReader(SeriesFile.OpenReadStream());
            string seriesString = await streamReader.ReadToEndAsync();
            IEnumerable<Series>? series = JsonConvert.DeserializeObject<IEnumerable<Series>>(seriesString);

            if (series != null)
            {
                foreach (Series newSerie in series)
                {
                    if (toothPickContext.Libraries.Any(library => library.Name.Equals(newSerie.LibraryName)) &&
                        !toothPickContext.Series.Any(series => series.LibraryName.Equals(newSerie.LibraryName) &&
                            series.Name.Equals(newSerie.Name)) &&
                        !toothPickContext.ChangeTracker.Entries<Series>().Any(series => series.Entity.LibraryName.Equals(newSerie.LibraryName) &&
                            series.Entity.Name.Equals(newSerie.Name)))
                    {
                        toothPickContext.Series.Add(newSerie);
                    }
                }
            }

            if (toothPickContext.ChangeTracker.HasChanges())
            {
                await ModalPromptReference!.ShowModalPrompt(new()
                {
                    Title = "Imported succesfully",
                    Body = new MarkupString($"<p>Imported series file \"{SeriesFile.Name}\" succesfully! Added {toothPickContext.ChangeTracker.Entries<Series>().Count(e => e.State == EntityState.Added)} new series!</p>"),
                    CancelChoice = "Ok"
                });

                await toothPickContext.SaveChangesAsync();
            }
            else
            {      
                await ModalPromptReference!.ShowModalPrompt(new()
                {
                    Title = "Nothing imported",
                    Body = new MarkupString($"<p>No new series were detected. Nothing was imported.</p>"),
                    CancelChoice = "Ok"
                });
            }
        }
    }

    private async void ExportLocations()
    {       
        using ToothPickContext toothPickContext = await ToothPickContextFactory.CreateDbContextAsync();    
        byte[] byteArray = Encoding.UTF8.GetBytes(JsonConvert.SerializeObject(toothPickContext.Locations.ToArray(), Formatting.Indented));
        MemoryStream stream = new MemoryStream(byteArray);
        string fileName = "locations.json";
        using DotNetStreamReference streamReference = new DotNetStreamReference(stream: stream);
        await JSRuntime.InvokeVoidAsync("downloadFileFromStream", fileName, streamReference);
    }

    private void UpdateLocationsFile(InputFileChangeEventArgs inputFileChangeEventArgs)
    {
        LocationsFile = inputFileChangeEventArgs.File;
    }

    private async Task ImportLocations()
    {
        if (LocationsFile != null)
        {
            try
            {
                using ToothPickContext toothPickContext = await ToothPickContextFactory.CreateDbContextAsync();    
                using StreamReader streamReader = new StreamReader(LocationsFile.OpenReadStream());
                string locationsString = await streamReader.ReadToEndAsync();
                IEnumerable<Location>? locations = JsonConvert.DeserializeObject<IEnumerable<Location>>(locationsString);

                if (locations != null)
                {
                    foreach (Location newLocation in locations)
                    {
                        if (toothPickContext.Libraries.Any(library => library.Name.Equals(newLocation.LibraryName)) && 
                            toothPickContext.Series.Any(series => series.Name.Equals(newLocation.SeriesName)) && 
                            !toothPickContext.Locations.Any(location => location.LibraryName.Equals(newLocation.LibraryName) &&
                                location.SeriesName.Equals(newLocation.SeriesName) &&
                                location.Name.Equals(newLocation.Name)) &&
                            !toothPickContext.ChangeTracker.Entries<Location>().Any(location => location.Entity.LibraryName.Equals(newLocation.LibraryName) &&
                                location.Entity.SeriesName.Equals(newLocation.SeriesName) &&
                                location.Entity.Name.Equals(newLocation.Name)))
                        {                
                            toothPickContext.Locations.Add(newLocation);
                        }
                    }
                }
                            
                if (toothPickContext.ChangeTracker.HasChanges())
                {              
                    await ModalPromptReference!.ShowModalPrompt(new()
                    {
                        Title = "Imported succesfully",
                        Body = new MarkupString($"<p>Imported locations file \"{LocationsFile.Name}\" succesfully! Added {toothPickContext.ChangeTracker.Entries<Location>().Count(e => e.State == EntityState.Added)} new locations!</p>"),
                        CancelChoice = "Ok"
                    });

                    await toothPickContext.SaveChangesAsync();
                }
                else
                {
                    await ModalPromptReference!.ShowModalPrompt(new()
                    {
                        Title = "Nothing imported",
                        Body = new MarkupString($"<p>No new lcoations were detected. Nothing was imported.</p>"),
                        CancelChoice = "Ok"
                    });
                }            
            }
            catch (Exception exception)
            {
                await ModalPromptReference!.ShowModalPrompt(new()
                {
                    Title = "Error during import",
                    Body = new MarkupString($"<p>Nothing was imported. The following error was encountered: {exception.Message}</p>"),
                    CancelChoice = "Ok"
                });
            }
        }
    }
    
    private async void ExportMedias()
    {       
        using ToothPickContext toothPickContext = await ToothPickContextFactory.CreateDbContextAsync();    
        byte[] byteArray = Encoding.UTF8.GetBytes(JsonConvert.SerializeObject(toothPickContext.Media.ToArray(), Formatting.Indented));
        MemoryStream stream = new MemoryStream(byteArray);
        string fileName = "medias.json";
        using DotNetStreamReference streamReference = new DotNetStreamReference(stream: stream);
        await JSRuntime.InvokeVoidAsync("downloadFileFromStream", fileName, streamReference);
    }

    private void UpdateMediasFile(InputFileChangeEventArgs inputFileChangeEventArgs)
    {
        MediasFile = inputFileChangeEventArgs.File;
    }

    private async void ImportMedias()
    {
        if (MediasFile != null)
        {
            try
            {
                using ToothPickContext toothPickContext = await ToothPickContextFactory.CreateDbContextAsync();    
                using StreamReader streamReader = new StreamReader(MediasFile.OpenReadStream(maxAllowedSize: (long)2e+9));
                string mediasString = await streamReader.ReadToEndAsync();
                IEnumerable<Media>? medias = JsonConvert.DeserializeObject<IEnumerable<Media>>(mediasString);
                
                if (medias != null)
                {
                    foreach (Media newMedia in medias)
                    {
                        if (toothPickContext.Libraries.Any(library => library.Name.Equals(newMedia.LibraryName)) &&
                            toothPickContext.Series.Any(series => series.LibraryName.Equals(newMedia.LibraryName) &&
                                series.Name.Equals(newMedia.SeriesName)) &&
                            !toothPickContext.Media.Any(media => media.Url.Equals(newMedia.Url)) &&
                            !toothPickContext.ChangeTracker.Entries<Media>().Any(media => media.Entity.Url.Equals(newMedia.Url)))
                        {
                            toothPickContext.Media.Add(newMedia);
                        }
                    }
                }

                if (toothPickContext.ChangeTracker.HasChanges())
                {
                    await ModalPromptReference!.ShowModalPrompt(new()
                    {
                        Title = "Imported succesfully",
                        Body = new MarkupString($"<p>Imported libraries file \"{MediasFile.Name}\" succesfully! Added {toothPickContext.ChangeTracker.Entries<Media>().Count(e => e.State == EntityState.Added)} new medias!</p>"),
                        CancelChoice = "Ok"
                    });
                    
                    await toothPickContext.SaveChangesAsync();
                }
                else
                {
                    await ModalPromptReference!.ShowModalPrompt(new()
                    {
                        Title = "Nothing imported",
                        Body = new MarkupString($"<p>No new medias were detected. Nothing was imported.</p>"),
                        CancelChoice = "Ok"
                    });
                }
            }
            catch (Exception exception)
            {
                await ModalPromptReference!.ShowModalPrompt(new()
                {
                    Title = "Error during import",
                    Body = new MarkupString($"<p>Nothing was imported. The following error was encountered: {exception.Message}</p>"),
                    CancelChoice = "Ok"
                });
            }
        }
    }    

    private void UpdateCookiesFile(InputFileChangeEventArgs inputFileChangeEventArgs)
    {
        CookiesFile = inputFileChangeEventArgs.File;
    }

    private async void ImportCookies()
    {
        if (CookiesFile != null)
        {            
            try
            {
                using ToothPickContext toothPickContext = await ToothPickContextFactory.CreateDbContextAsync();  
                string cookiesPath = (await toothPickContext.Settings.GetSettingAsync("CookiesPath", CancellationToken.None)).Value;

                using Stream cookiesUploadStream = CookiesFile.OpenReadStream(maxAllowedSize: (long)2e+9);
                using FileStream cookiesWriterStream = File.Create(Path.Combine(cookiesPath, CookiesFile.Name));
                
                await cookiesUploadStream.CopyToAsync(cookiesWriterStream);
                                
                await ModalPromptReference!.ShowModalPrompt(new()
                {
                    Title = "Uploaded Cookies",
                    Body = new MarkupString($"<p>The cookies file \"{CookiesFile.Name}\" was succesfully uploaded!</p>"),
                    CancelChoice = "Ok"
                });
            }
            catch (Exception exception)
            {
                await ModalPromptReference!.ShowModalPrompt(new()
                {
                    Title = "Error during upload",
                    Body = new MarkupString($"<p>The following error was encountered: {exception.Message}</p>"),
                    CancelChoice = "Ok"
                });
            }
        }
    }    

    private async Task ResetFilenames()
    {
        try
        {
            if (SelectedLibrary == null || SelectedSeries == null)
                return;

            using ToothPickContext toothPickContext = await ToothPickContextFactory.CreateDbContextAsync();  
            string downloadPath = (await toothPickContext.Settings.GetSettingAsync("DownloadPath")).Value;
            DirectoryInfo serieDirectory = Directory.CreateDirectory(Path.Combine(downloadPath, SelectedLibrary.Name, SelectedSeries.Name));
                            
            int currentEpisodeCount = 1;
            foreach(FileInfo fileInfo in serieDirectory.EnumerateFiles("*.webm").Union(serieDirectory.EnumerateFiles("*.mp4")).Union(serieDirectory.EnumerateFiles("*.mkv")).ToArray().OrderBy(fileInfo => fileInfo.LastWriteTime))
            {
                string newFileName = Path.GetFileNameWithoutExtension(fileInfo.Name);

                foreach (Match SeasonMatch in Helpers.SeasonRegex().Matches(newFileName).Reverse())
                    if (SeasonMatch.Success && SeasonMatch.Captures.FirstOrDefault() != null)
                        newFileName = newFileName.Cut(SeasonMatch.Captures.First().Index, SeasonMatch.Captures.First().Length);
                    
                foreach (Match EpisodeMatch in Helpers.EpisodeRegex().Matches(newFileName).Reverse())
                    if (EpisodeMatch.Success && EpisodeMatch.Captures.FirstOrDefault() != null)
                        newFileName = newFileName.Cut(EpisodeMatch.Captures.First().Index, EpisodeMatch.Captures.First().Length);
                    
                newFileName = $"{newFileName.RemoveExtraSpaces().Trim()} S01E{currentEpisodeCount:00}";

                File.Move(fileInfo.FullName, Path.Combine(fileInfo.DirectoryName ?? string.Empty, newFileName + Path.GetExtension(fileInfo.Name)));
                
                string imageFilePath = Path.Combine(fileInfo.DirectoryName ?? string.Empty, Path.GetFileNameWithoutExtension(fileInfo.Name) + "-thumb.jpg");
                if(File.Exists(imageFilePath))
                {
                    string newImageFileName = newFileName + "-thumb.jpg";
                    File.Move(imageFilePath, Path.Combine(fileInfo.DirectoryName ?? string.Empty, newImageFileName));
                }

                currentEpisodeCount++;
            }

            await ModalPromptReference!.ShowModalPrompt(new()
            {
                Title = "Filenames Reset",
                Body = new MarkupString($"<p>The filenames for the \"{SelectedLibrary.Name}\" series \"{SelectedSeries.Name}\" were succesfully reset!</p>"),
                CancelChoice = "Ok"
            });
        }
        catch (Exception exception)
        {
            await ModalPromptReference!.ShowModalPrompt(new()
            {
                Title = "Error during filename reset.",
                Body = new MarkupString($"<p>The following error was encountered: {exception.Message}</p>"),
                CancelChoice = "Ok"
            });
        }
    }
}